.task {
  display: flex;
  background-color: var(--gray-500);
  padding: 1rem;
  border-radius: 0.5rem;
  align-items: flex-start;
  gap: 12px;
  border: 1px solid var(--gray-400);
}

.check {
  color: var(--blue);
  margin: 2px;
  cursor: pointer;
}

.task p {
  flex: 1;
  text-align: start;
  font-size: 0.88rem;
  font-weight: 400;
  transition: 0.2s all;
}

.completed {
  text-decoration: line-through;
  color: var(--gray-300);
}

.task button {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s background-color;
  color: var(--gray-300);
  border-radius: 0.25rem;
}

.task button svg {
  padding: 5px;
}

.task button:hover {
  background-color: var(--gray-400);
  color: var(--danger);
}
